//Vars
$bgCol: rgb(171,204,255);
$bgImg: url(../media/background.png);
$font1: 'Open Sans', sans-serif;
$font2: 'Rubik' , sans-serif;
$hoverC: rgba(29, 69, 129, 0.15);
$menuTC: #fff;
$bodyTC: rgb(29, 69, 129);

//media q
//Media Queries - Adapted from http://stackoverflow.com/questions/13550541/media-min-width-max-width
@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px;*/
    .menu{
        font-size: 200% !important;
    }
    .d1{
        margin-top: 12.5vh !important;
    }
    #indexH{
        font-size: 250% !important;
    }
    p{
        font-size: 130% !important;
    }
    .logo{
        height: 35% !important;
    }
    }
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    .menu{
        font-size: 300% !important;
    }
    .d1{
        margin-top: 9vh !important;
    }
    #indexH{
        font-size: 450% !important;
    }
    p{
        font-size: 250% !important;
    }
    .logo{
        height: 35% !important;
    }
}
@media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    .menu{
        font-size: 550% !important;
    }
    .d1{
        margin-top: 8vh !important;
    }
    #indexH{
        font-size: 600% !important;
    }
    p{
        font-size: 400% !important;
    }
    .logo{
        height: 36% !important;
    }
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .d1{
        margin-top: 6.5vh !important;
    }
    .menu{
        font-size: 300% !important;
    }
    p{
        font-size: 310% !important;
    }
    #indexH{
        font-size: 600% !important;
    }
    .logo{
        height: 35%;
    }
}
@media only screen and (device-width:375px){
    .d1{
        margin-top: 8vh !important;
    }
    .menu{
        font-size: 300% !important;
    }
    p{
        font-size: 310% !important;
    }
    #indexH{
        font-size: 600% !important;
    }
    .logo{
        height: 35%;
    }
}
@media only screen and (device-width:425px){
    .d1{
        margin-top: 8.5vh !important;
    }
}
@media only screen and (device-width:768px){
    /* default iPad screens */
    .d1{
        margin-top: 11vh !important;
    }
    .menu{
        font-size: 300% !important;
    }
    p{
        font-size: 210% !important;
    }
    #indexH{
        font-size: 400% !important;
    }
    .logo{
        height: 30%;
    }
    }



body{
    height: 100%;
    font-size: 100%;
    background-color: $bgCol;
    background-image: $bgImg;
    background-repeat: repeat;
}
h1{
    font-family: $font1;
    color: $bodyTC;
}
#indexH{
    font-size: 300%;
}
p{
    font-family: $font2;
    color: $bodyTC;
    font-size: 130%;
}
a {
    color: $bodyTC;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: $bodyTC;
}
.menu {
    font-family: $font1;
    font-size: 160%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menuItem {
    float: left;
    display: block;
    color: $menuTC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s linear;
}
.menuItem:hover {
    background-color: $hoverC;
    cursor: pointer;
}
.menuItem:visited{
    color: $menuTC;
}
.menuR{
    float:right;
}
.active{
    background-color: $hoverC;
}
.d1{
    position:absolute;
    //http://stackoverflow.com/questions/2898221/make-div-fill-remainder-of-page-vertically
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin-top: 13vh;
    background-color: $hoverC;
}
.d2{
    position:absolute;
    //http://stackoverflow.com/questions/2898221/make-div-fill-remainder-of-page-vertically
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    margin-top: 1vh;
}