/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto:400,700&display=swap');

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }

body {
  font-family: 'Roboto', sans-serif;
  background: #675682 url("../assets/atmosphere-clouds-daylight-1287142.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
h1 {  
  margin: 0.5em 0;
  color: #fff;
}
a {
  color: #fff;
}
a:hover {
  color: #675682;
}
.card_wrap a {
  color: #ad7bfd;
  transition: .2s;
}
.card_wrap a:hover {
  text-decoration: none;
  color: #7956b1;
}
li {
  text-decoration: none;
  list-style: none;
  margin: .5em 0;
}
li:before {
  font-family: 'FontAwesome';
  content: '\f005';
  float: left;
  margin-left: -1.5em;
  color: #ad7bfd;
}
.row, .col {
  margin: 0;
  padding: 0;
}
.btn {
  background: none;
  border: 2px solid #ad7bfd;
  color: #ad7bfd;
}
.btn:hover {
  background: #ad7bfd;
  color: #fff;
  border: 2px solid #ad7bfd;
}
/* CARD */
.card_wrap {
  text-align: center;
  margin-top: 4%;
  display: none;
  color: #675682;
}
.card {
  display: inline-block;
  margin: .5em .5em;
  background: #FCFCFE;

  -webkit-box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.2);

  transition: .2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  color: #ad7bfd;
}
.img-wrap {
  width: 100%;
  height: 286px;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.img-wrap.inioli {
  background-image: url('../assets/maxi/Maxi_inioli-dcd6yk2.png');
}
#visRefM .img-wrap.rythae {
  background-image: url('../assets/maxi/Furan\ OC\ Maxi.png');
}
#visRefM .img-wrap.peachsyuu {
  background-image: url('../assets/maxi/non_transparent_by_peachsyu-dczq9ka.png');
}
#visRefS .img-wrap.peachsyuu {
  background-image: url('../assets/suro/peachSuro.png');
}
#visRefM .img-wrap.suwaboos {
  background-image: url('../assets/maxi/IMG_20190401_145350.jpg');
}
.img-wrap.furandesu {
  background-image: url('../assets/suro/surocheeb.png');
}
/* vis ref */
#visRefM .col-lg-3 .card, #visRefS .col-lg-3 .card {
  width: 177px;
  text-align: left;
}
#visRefM .col-lg-3 .card .card-title, #visRefS .col-lg-3 .card .card-title {
  margin: 0;
  text-align: center;
}
#visRefM .card {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.2);
  color: #675682;
}
#visRefM .col-lg-3 {
  margin-bottom: 1em;
}
#visRefM .card h6 {
  color: #675682;
}
/* MODAL */
.modal-content {
  background: #FCFCFE;
}
.modal-title {
  color: #ad7bfd;
}
.modal-body {
  text-align: justify;
}
/* Social */
.social {
  font-size: 2.3em;
  margin-left: -1.5em;
}
.social a {
  transition: .2s;
}
.social li:before {
  content: '';
}
.social li {
  display: inline-block;
  padding: 0 0.5em;
}
.twitter, .insta {
  transition: .2s;
}
.twitter:hover, .insta:hover {
  transform: translateY(-.2em);
}