@charset "UTF-8";

/* Global Content Formatting and Styles */

body{
    color: #555;
    font-family: "Arial";
    font-size: 14px;
    background: #aed2f2 url(../images/background_gradient.jpg) repeat-x 0px 0px;
}
.page{
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #fff;
}
h1{ color: #5d357d; margin: 0em 0em .75em 0em;}
h2{ color: #5d357d; margin: 0em 0em 1em 0em;}
h3{ color: #5d357d; margin: 0em 0em .5em 0em;}
p{ margin: 0em 0em .75em 0em; line-height: 1.4ems;}
a{ color: #0089d7;}
a:hover{ color: #5d357d;}
footer{
    font-size: .85em;
    color: #9c81b1;
    background-color: #aed2f2;
    padding: 10px 10px 10px 0px;
}
.promo h3{
    font-size: 1.1em;
    margin: 0;
}
.promo p{
    line-height: 1.2em;
    font-size: .9em;
    margin-bottom: 2.5em;
}
.promo{ background-repeat: no-repeat;}
.promo.one{ background-image: url(../images/promo_1.jpg);}
.promo.two{ background-image: url(../images/promo_2.jpg);}
.promo.three{ background-image: url(../images/promo_3.jpg);}
a.cta{
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 12px 0px 0px;
    background: url(../images/cta_arrow.png) no-repeat right 0px;
}
a.cta:hover{ background-position: right -50px;}
.clear-fix{ clear: both; line-height: 1px; }