/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
html, body {
    background: url(../media/brilliant.png) #f0eee9;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1 {
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
button {
    padding: 1em 2em;
    background: #7c96c7;
    color: #f0eee9;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border: none;
    transition: all .2s ease-in;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
}
button:hover {    
    background-color: #B2C1DE;
}
::selection {
    background: #ee76aa;
    color:  #f0eee9;
}
::-moz-selection {
    background: #ee76aa;
    color:  #f0eee9;
}
/* LAYOUT */
header, footer {
    width: 100%;
    background: url(../media/beige-paper.png) #bd9bc0;
    color: #f0eee9;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
}
footer {
    position: relative;
    left:0px;
    bottom:0px;
    padding: 0 0 10px 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome, #skills, #about, #projects, #contact {
    cursor: default;
}
nav ul.menu { margin-top: 20px; }
nav ul.menu a{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #f0eee9;
    font-size: 1.7em;
    padding-right: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
a.social {
    display: inline-block;
    position: relative;
    top: 20px;
    padding-right: 1em;
    text-decoration: none;
    color: #f0eee9;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;   
}
a.social:hover { top: 18px; }
nav ul.menu a:hover, #logo:hover { position: relative; top: -2px; }
#welcome {
    text-align: center;
    padding: 0 0 10px 0;
    color: #7c96c7;
}
#welcome h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4em;
}
#skills {
    padding-top: 20px;
    width: 100%;
    background: url(../media/binding-light.png) #91a7d0;
    background-blend-mode: color-burn;
    color: #f0eee9;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
}
#skills p {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: default;
}
#about, #contact {
    padding: 0 0 10px 0;
    color: #7c96c7;
    text-align: justify;
}
#about h1, #projects h1, #contact h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 1px;
}
#about .content {
    font-size: 1.3em;
}
#about p.lead {
    margin-bottom: .5em;
}
#projects {
    padding-bottom: 20px;
    width: 100%;
    background: url(../media/binding-light.png) #bd9bc0;;
    background-blend-mode: color-burn;
    color: #f0eee9;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
}
#projects .container h1.soon {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
/* FORM */
.buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageLabel, #message{
    margin-left: 1em;
}
#message {
    width: 81.5em;
}
/* CAROUSEL */
#carousel img {
    margin: 0 auto;
    height: 400px;
}
/* MEDIA QUERIES */
@media only screen and (max-width : 480px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header #logo {
        margin-left: 40px;
        height: 90px;
    }
    header nav {
        text-align: center;
    }
    #welcome h1 {
        font-size: 3em;
    }
     #welcome h2 {
        font-size: 1.6em;
        font-weight: bold
    }
    #skills{
        text-align: center;
    }
    #message {
        width: 28.3em;
    }
    footer {
        text-align: center;
    }
    nav ul.menu a {
        display: block;
        border-bottom: 1px solid #f0eee9;
        padding: .5em;
    }    
}